extends layout

block content
  h1 Sorteo del Dia del Amigo
  h3 Subir un archivo
  p Formato:
  pre nombre, email<br>nombre, email

  form(action='/upload', method='post', encType='multipart/form-data')
    input(type='file', name='csv', required='required')
    <br><br>
    input(type='submit', value='Cargar participantes')

